body{
	background-color: #111418;
}

h1{
	font-size: 30px;
	color: #dcdddd;
	text-align: center;
 	font-family: Arial, Helvetica, sans-serif;

}

h2{
	text-align: center;
	color : #d9d8d8;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}

.big{
	font-size:75px;
}

.uppercase{
	text-transform: uppercase;
}

.smallh1{
	font-size: 25px;
}

.big.uppercase{
	color: navy;
}

.darkerh2{
	color: #8B9093;
}

h1 span{
	color: violet;
}